$font-stack: 'Bitter', serif;
$body-background-color: #fff;
$primary-color: #161616;
$highlight-color: #e30613;

$link-color: #fff;
$hover-color: darken($link-color, 20%);
$visited-color: $link-color;

$navbar-height: 0px;
$grid-max-width: 600px;
